
/** * Module Description * * Version Date Author Remarks * 1.00 04 Jul 2016 Ariel **/ 
 #confirmOverlay{ width:100%; height:100%; position:fixed; top:0; left:0; background:url('ie.png'); background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2); background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2); z-index:10000; }
 #confirmBox{ background:url('body_bg.jpg') repeat-x left bottom #e5e5e5; width:460px; position:fixed; left:50%; top:50%; margin:-130px 0 0 -230px; border: 1px solid rgba(33, 33, 33, 0.6); -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset; -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset; box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset; }
 #confirmBox h1, #confirmBox p, #confirmBox ul{ font:22px/1 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif; background:url('header_bg.jpg') repeat-x left bottom #f5f5f5; padding: 18px 25px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); color:#666; }
 #confirmBox h1{ letter-spacing:0.3px; color:#888; }
 #confirmBox .msg{ background:none; font-size:16px; line-height:1.1; margin:12px; }
 #confirmBox .center { text-align:center }
 #confirmBox .left { text-align:left }
 #confirmBox .right { text-align:right }
 #confirmBox p{ background:none; font-size:16px; line-height:1.4; padding-top: 35px; }
 #confirmBox .msg ul li { font-size:16px; line-height:1.0; padding:0px; }
 #confirmButtons{ padding:15px 0 25px; text-align:center; }
 #confirmBox .button{ display:inline-block; background:url('buttons.png') no-repeat; color:white; position:relative; height: 33px; font:17px/33px 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif; margin-right: 15px; padding: 0 35px 0 40px; text-decoration:none; border:1px solid #888; }
 #confirmBox .button:last-child{ margin-right:0;}
 #confirmBox .button span{ position:absolute; top:0; right:-5px; background:url('buttons.png') no-repeat; width:5px; height:33px }
 #confirmBox .blue{ background-position:left top;text-shadow:1px 1px 0 #5889a2; background-color:#9574d1;}
 #confirmBox .blue span{ background-position:-195px 0;}
 #confirmBox .blue:hover{ background-position:left bottom;}
 #confirmBox .blue:hover span{ background-position:-195px bottom;}
 #confirmBox .gray{ background-position:-200px top;text-shadow:1px 1px 0 #707070;background-color:#A0A0A0; color:#333}
 #confirmBox .gray span{ background-position:-395px 0;}
 #confirmBox .gray:hover{ background-position:-200px bottom;}
 #confirmBox .gray:hover span{ background-position:-395px bottom;}


/** * Module Description * * Version Date Author Remarks * 1.00 04 Jul 2016 Ariel **/ 
 .popupselectOverlay{ width:100%; height:100%; position:fixed; top:0; left:0; z-index:10005; }
 .popupselectBox{ background:url('body_bg.jpg') repeat-x left bottom #e5e5e5; width:580px; position:fixed; left:50%; top:50%; margin:-130px 0 0 -230px; border:4px solid rgba(33, 33, 33, 0.6); -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset; -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset; box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset; }
 .popupselectBox h1, .popupselectBox p{ color:#666; }
 .popupselectBox h1{ font-size:1.2em; font-weight: 100; margin:3px; letter-spacing:0.3px; color:#FFF; padding:3px 0px; text-align:center; background-color: #3498DB; }
 .popupselectBox p{ background:none; font-size:16px; line-height:1.4; padding-top: 35px; }
 .popupselectContent{ padding:5px; text-align:left; background: #FFFFFF; }
 .popupselectContent .head {background:url('body_bg.jpg') repeat-x left bottom #e5e5e5; color:#333; padding:6px; margin:0px; }
 .popupselectButtons{ padding:6px 0 6px; text-align:center; }
 .popupselectBox .button{ display:inline-block; background:url('buttons.png') no-repeat; color:white; position:relative; height: 28px; font:17px/28px 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif; margin-right: 6px; padding: 0 35px 0 40px; text-decoration:none; border:1px solid #888; }
 .popupselectBox .button:last-child{ margin-right:0;}
 .popupselectBox .button span{ position:absolute; top:0; right:-5px; background:url('buttons.png') no-repeat; width:5px; height:33px }
 .popupselectBox .blue{	background-position:left top; background-color:#3498DB /* #9574d1; */}
 .popupselectBox .blue span{ background-position:-195px 0;}
 .popupselectBox .blue:hover{ background-position:left bottom;}
 .popupselectBox .blue:hover span{ background-position:-195px bottom;}
 .popupselectBox .gray{ background-position:-200px top; background-color:#DCDCDC; color:#333}
 .popupselectBox .gray span{ background-position:-395px 0;}
 .popupselectBox .gray:hover{ background-position:-200px bottom;}
 .popupselectBox .gray:hover span{ background-position:-395px bottom;}
 .popupselectBox .table tr.selected { background-color: rgba(41, 103, 182, 0.89); color: #FFF; }
 
/* ---- */
 